html {
  background-color: $color-deep;
  color: $color-text;
  font-family: "PT Sans", Arial, sans-serif;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px lighten($color: $color-fg-light, $amount: 10);
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 24px;
}
