$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$desktop-lg-width: 1920px;

$color-deep: #2e2e2e;
$color-bg: #3f3f3f;
$color-fg: #4d4d4d;
$color-fg-light: #6d6d6d;
$color-secondary: #5d5d5d;
$color-primary: #0bb831;
$color-error: #ffabab;
$color-text: #e5e5e5;
$color-text-light: #f1f1f1;
