
@{
    ViewData["Title"] = "FeedbackForm";
}

<h1>FeedbackForm</h1>
<form method="post" action ="/Club/Send">
    <label for="name">Название клуба</label><br />
    <input name="Name" id="name" /><br /><br />
    <label for="Address">Адресс</label><br />
    <input name="address" id="address" /><br /><br />
    <label for="phoneNumber">Номер телефона</label><br />
    <input name="PhoneNumber" id="phoneNumber" />
    <input type="submit" value="Отправить"/>
</form>

