.card {
  padding: 0 8px 48px 8px;

  background-color: $color-fg;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: center;
}

.form-title {
  margin-top: 24px;
  margin-bottom: 16px;

  font-size: 16px;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 12px;
}

.form-label {
  margin-bottom: 4px;
}

.form-error-message {
  font-size: 14px;
  color: $color-error;
}

.input {
  width: 100%;
}

.submit-button {
  width: 100%;

  margin-top: 24px;
  margin-bottom: 16px;

  font-size: 16px;
}

.alt-signs {
  padding-top: 20px;
  position: relative;
  border-top: 1px solid #c4c4c4;
}

.alt-signs-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 16px;
  background-color: $color-fg;

  text-transform: uppercase;
  font-weight: bold;
}

.sign-in-vk-button {
  background-color: #4a76bb;
  font-size: 16px;
}

.vk-icon {
  @include icon-size;
  margin-right: 4px;
  vertical-align: bottom;
}

@media (min-width: $tablet-width) {
  .card {
    max-width: 625px;
    padding: 0 56px 48px 56px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 56px;
  }

  .form-title {
    font-size: 18px;
    margin-bottom: 36px;
  }

  .submit-button {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    margin-bottom: 24px;
  }

  .alt-signs {
    display: flex;
  }

  .sign-in-vk-button {
    width: 300px;
    margin: 0 auto;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
  }

  .form-error-message {
    display: block;
    margin-top: -18px;
    margin-bottom: -18px;
  }

  .input {
    width: auto;
    flex-grow: 1;
  }

  .form-label {
    width: 128px;
    padding-right: 4px;
  }
}
