.card {
  padding: 0 12px 48px 12px;

  background-color: $color-fg;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: center;
}

.form-title {
  margin-top: 24px;
  margin-bottom: 16px;

  font-size: 16px;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 12px;
}

.form-label {
  margin-bottom: 4px;
}

.input-error {
  font-size: 14px;
  color: $color-error;
}

.input {
  width: 100%;
}

.submit-button {
  width: 100%;

  margin-top: 24px;
  margin-bottom: 16px;

  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .card {
    max-width: 625px;
    padding: 0 56px 36px 56px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 56px;
  }

  .form-title {
    font-size: 18px;
    margin-bottom: 36px;
  }

  .submit-button {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .alt-signs {
    display: flex;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
  }

  .input {
    width: 150px;
    flex-grow: 1;
  }

  .input-error {
    width: 280px;
    flex-grow: 1;
    margin-top: 4px;
    margin-left: 128px;
  }

  .form-label {
    width: 128px;
    padding-right: 4px;
  }
}
