html {
  background-color: $color-deep;
  color: $color-text;
  font-family: "PT Sans", Arial, sans-serif;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
