.input {
  display: block;
  padding: 12px;
  border: none;
  border-radius: 4px;

  background-color: $color-fg-light;
  color: $color-text;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    caret-color: $color-text !important;
    -webkit-text-fill-color: $color-text !important;
    box-shadow: 0 0 0px 1000px $color-fg-light inset;
  }

  &:disabled {
    background-color: darken($color-fg-light, $amount: 10);
    color: darken($color: $color-text, $amount: 20);
  }
}
