.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: $mobile-width;
  min-height: 100vh;
  background-color: $color-bg;
}

@media (min-width: $desktop-lg-width) {
  .container {
    width: $desktop-lg-width;
    margin: 0 auto;
  }

  .notification-container {
    right: 50%;
    transform: translateX($desktop-lg-width / 2 - 8px);
    bottom: 8px;
  }
}
